<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.domi.ppij" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnScreen"
            android:label="@string/title_activity_learn_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GalleryScreen"
            android:label="@string/title_activity_gallery_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SliderGameActivity"
            android:label="@string/title_activity_slider_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MastermindActivity"
            android:label="@string/title_activity_mastermind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".showPictureAR"
            android:label="@string/title_activity_show_picture_ar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".findDifferencesGame"
            android:label="@string/title_activity_find_differences_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TheoryMenuActivity"
            android:label="@string/title_activity_theory_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".showTheory"
            android:label="@string/title_activity_show_theory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MemoryActivity"
            android:label="@string/title_activity_memory_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ColorPickerActivity"
            android:label="@string/title_activity_color_picker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GridGameActivity"
            android:label="@string/title_activity_grid_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".renaissance_levels"
            android:label="@string/title_activity_renaissance_levels"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".baroque_levels"
            android:label="@string/title_activity_baroque_levels"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".impressionism_levels"
            android:label="@string/title_activity_impressionism_levels"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".expressionism_levels"
            android:label="@string/title_activity_expressionism_levels"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".cubism_levels"
            android:label="@string/title_activity_cubism_levels"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modern_levels"
            android:label="@string/title_activity_modern_levels"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
